.image_index {
  margin-bottom: 2rem;
  max-width: 30rem;
  width: 5rem;
}
.box {
  padding: 10;
  margin: 10;
  border-width: 1;
  border-color: 'black';
}
.text {
  font-weight: 'bold';
  color: 'red';
}
.button-text {
  margin-top: 40;
  padding: 20 10;
  border: 1 'black';
  background-color: 'lightgrey';
  align-items: 'center';
}
.buttonText {
  font-weight: 'bold';
  color: 'black';
}
